@charset "UTF-8";

html{
	font:14px/1.3 "ヒラギノ丸ゴ ProN","arial black";
	webkit-text-size-adjust:100%;
	background-color:rgb(255,250,250);
	color:rgb(250,235,215);
}

body{
	color:rgb(250,235,215);
}

a{
	color:rgb(250,235,215);
}

.index{
	font-size:1.5em;
}
